<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.amazonaws.eclipse.lambda.launching.samLocal">
<stringAttribute key="action" value="invoke"/>
<stringAttribute key="code-uri" value="./target/Project2-1-0.0.1-SNAPSHOT.jar"/>
<stringAttribute key="debug-port" value="5858"/>
<stringAttribute key="lambda-id" value="Lambda function not found..."/>
<stringAttribute key="maven-goals" value="clean package"/>
<stringAttribute key="profile" value="Project"/>
<stringAttribute key="project" value="Project2-1"/>
<stringAttribute key="region" value="us-east-1"/>
<stringAttribute key="sam" value="C:\Users\shashi\AppData\Roaming\npm\sam.exe"/>
<stringAttribute key="timeout" value="300"/>
</launchConfiguration>
